

.leftSpace__divTwo__title {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.leftSpace__divTwo {
    border-bottom: 0.1em solid #d2d2d2;
}

.leftSpace__divTwo__ul {
    text-align: left;
}

a {
    width: 100%;
    height: auto;
}

.leftSpace__divTwo__ul__li__img {
    width: 100%;
    height: auto;
}